{# -*- mode:web -*- engine:django -*- #}
{% comment %}

View template for dialogs that load this template, a complete <html> document,
into an <iframe> dialog content.  The dialog is created within the document
containing the dialog-anchor.

This template includes media for any dialog_anchors included with the form and
the dialog form itself.

{% endcomment %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    {% block extrahead %}
    {{ form.media }}
    {% include "dialogform/include/anchor_media.html" %}{# in case form refers to dialog-anchors #}
    {% endblock %}
  </head>
  <body>
    <div class="dialogform-dialog">
      {% block dialog-content %}
        {% include "dialogform/include/form_table.html" %}
      {% endblock %}
    </div>
  </body>
</html>
