{# -*- mode:web -*- engine:django -*- #}
{% comment %}

Dialogform form rendering

Parameters: form, dlgfrm_tags, dialogform_cssclass

dlgfrm_tags is set by DialogFormMixin (avoiding code duplication here)

dialogform_cssclass may be optionally set by views using DialogFormMixin

{% endcomment %}
<form method="dialog" class="dialogform {{ dialogform_cssclass }}">
  {% csrf_token %}
  {{ dlgfrm_tags.table.0 }}
    {% if form %}
      {{ form }}
    {% endif %}
    {{ dlgfrm_tags.row.0|cut:">"|add:" class=\"dialogform-buttons\">" }}
      {% if form %}
        {{ dlgfrm_tags.field.0 }}<button class="dialogform" type="button" value="cancel">Cancel</button>{{ dlgfrm_tags.field.1 }}
      {% endif %}
      {{ dlgfrm_tags.field.0 }}<button class="dialogform" type="button" value="confirm">OK</button>{{ dlgfrm_tags.field.1 }}
    {{ dlgfrm_tags.row.1 }}
  {{ dlgfrm_tags.table.1 }}
</form>
