/*
 * Dialogdemo styles
 */
@media (prefers-color-scheme: light) {
    :root {
        --_dialog_background:       var(--dialog-background, var(--body-bg, white));
        --_dialog-background-hover: var(--dialog-background-hover,          #FAEBD7);
        --_dialog-color:            var(--dialog-color,      var(--body-fg, #002040));
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --_dialog-background:       var(--dialog-background, var(--body-bg, black));
        --_dialog-background-hover: var(--dialog-background-hover,          #404040);
        --_dialog-color:            var(--dialog-color,      var(--body-fg, #FAEBD7));
    }
}
html {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--_dialog-background); /* from dialogform */
    color:      var(--_dialog-color);
}

div.noteandtags {
    font-size: 1rem;
}

sup {
    color: #CC0;
}

input, textarea, select, button {
    background: var(--_dialog-background); /* from dialogform */
    color:      var(--_dialog-color);
}

td {
    padding: 0.25em 1em;
    vertical-align: inherit;
}
