{# -*- mode:web -*- engine:django -*- #}
{% comment %}

Dialogfrom DEMO page template base extended by DEMO page(s)

Includes media required to instantiate dialog 'anchors' and basic demo app styling

{% endcomment %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <title>DialogDemo</title>
    {% include "dialogform/include/anchor_media.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'dialogform/demo/css/style.css' %}">

  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
