{# -*- mode:web -*- engine:django -*- #}
{% extends "dialogform/page.html" %}
{% comment %}

Dialog Form View template for iframe dialogs where forms may contain Admin
widgets dependent on admin Javascript translation 'catalog's gettext(),...

{% endcomment %}
{% block extrahead %}
  <script src="{% url 'javascript-catalog' %}"></script>
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="dialogform-dialog">
    {% block dialog-content %}
      {% include "dialogform/include/form_table.html" %}
    {% endblock %}
  </div>
{% endblock %}
